.slide-notes {
    position: absolute;
    top: 50vh;
    width: 100vw;
    max-height: ~"calc(50vh - 30px)";
    overflow: auto;
    padding: 10px 0;

    ul {
        margin: 0;

        li {
            font-size: 1.5rem;
            line-height: 2.2rem;
        }
    }
}
